.bg-color{
    background-color: #ffffff;
    
}
.myBackground{
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#logo {
    width: 50px;
}

.form-cadastro{
    height:140vh;
}
.area-form{
    height: 100vh;
}

p {
    font-weight: bold;
}