.bg-color {
    background-color: #ffffff;
}
.myBackground {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

#logo {
    width: 50px;
}

.form-cadastro {
    height: 140vh;
}
.area-form {
    height: 100vh;
}

p {
    font-weight: bold;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
