* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#logo {
    width: 50px;
}
.btn {
    background-color: aliceblue;
    color: #000;
    margin-left: 15px;
    border-color: aliceblue;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
}
.carousel-item img {
    object-fit: cover;
    height: 550px;
}
p {
    font-weight: bold;
}
#texto {
    font-size: 20px;
}
.area {
    height: 250px;
}
@media(max-width: 2000px) {
    .carousel-inner {
        object-fit: fill;
    }
}